#education-parts{
    padding: 100px 100px;

    .container{
        display: flex;

        .left-part{
            width: 50%;

            .title-top{
                font-size: 33px;
                
                h2{
                    font-size: 35px;
                    font-weight: 800;
                    color: #4A4A4A;
                    font-family: "Visby CF";
                    font-size: 50px;
                    font-weight: 900;
                }
                
                span{
                    font-size: 33px;
                }
            }
            .title-bottom{
                margin-top: 20px;

                p{
                    font-size: 20px;
                    width: 90%;
                }

            }
         }

         .right-part{
            width: 50%;

            .row{
                .col-6{
                    width: 200px;
                    height: 200px;
                    border: 1px solid rgba(0, 0, 0, 0.155);
                    position: relative;
                    transition: transform 0.2s;
                    &:hover{
                        color: white;
                        transform: scale(1.2);
                    }

                    i{
                        font-size: 60px;
                        position: absolute;
                        top: 10px;
                        left: 10px;
                    }
                    h4{
                        position: absolute;
                        bottom: 10px;
                        left: 10px;
                    }
                    
                }
            
            

            }
            .row:nth-child(1) {
                .col-6:nth-child(1){
                    &:hover{
                        background-color: purple;
                    }
                }

                .col-6:nth-child(2){
                    &:hover{
                        background-color: yellow;
                    }
                }
            }
            .row:nth-child(2) {
                .col-6:nth-child(1){
                    &:hover{
                        background-color: blue;
                    }
                }

                .col-6:nth-child(2){
                    &:hover{
                        background-color: green;
                    }
            }

    
            }
         }


    }
    
}
