footer{
    position: sticky;
    top: 400px;
}
.link {
    a{
    text-decoration: none;
    color: black;
    }
}
    .footer-top{
        margin-top: 80px;
        padding-left: 120px;
        padding-bottom: 30px;
    }
    .footer-bottom{
        padding-left: 30px;
        padding-right: 200px;
        padding-top: 50px;
    }
    .logo-footer{
        position: relative;
        right: 80px;
    } 
