#gradute-students{
    margin-top: 500px;
    margin-bottom: 200px;

    .container-gradutes{
        padding-left: 120px;
        padding-right: 120px;

        .title{
            margin-bottom: 50px;

            h2{
                font-family: "Visby CF";
                font-size: 50px;
                font-weight: 200;
                color: #4A4A4A;
                
                span{

                    font-family: "Visby CF";
                    font-size: 50px;
                    font-weight: 800;
                    color: #4A4A4A;

                }

            }

        }


    }


}